body {
	font-family: Monospace;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
}

.right_answer {
	color: green;
}

.wrong_answer {
	color: red;
}

.padding{
	padding-top: 1em;
    padding-bottom: 1em;
}
