body {
	font-size: xx-large;
}

.changedisplay {
	padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
}
.textfieldposition {
	text-align: center;
}

.right_answer {
	color: green;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

.wrong_answer {
	color: red;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

.central_buttom{
	width:150px
    margin-left:auto;
    margin-right:auto;
}
